.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  user-select: none;
}

.navitem {
  text-align: center;
  cursor: pointer;
  flex: 1;
  position: relative;
}
